
<form class="flex items-center">   
    <div class="relative w-full">
        <input ngModel #search type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 border-light-gray outline-none" placeholder="Search course name..." required (keyup)="delaySearch($event)" >
    </div>
    <button (click)="search.value =''" (click)="delaySearch($event)" type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg  hover:bg-blue-800 focus:ring-4 focus:outline-none">
      clear
    </button>
</form>
