<section class="w-full h-full p-4">
    <div class="profile-box">
        <div class="information">
            <div class="title border-b-[1px]">
                <h1 class="font-semibold">Information</h1>
            </div>

            <div class="content my-2">
                <form  [formGroup]="profileUpdate" (ngSubmit)="updateUser()">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="email">
                            <h1 class="text-lg font-semibold">Name</h1>
                            <input class="w-full rounded  py-1 {{!edit?'outline-none text-gray':'border border-black outline-blue-600  px-1 text-black'}}" [readOnly]="!edit" type="text" value="Enter Your Name" formControlName="name">
                        </div>
                        <div class="email">
                            <h1 class="text-lg font-semibold">Email</h1>
                            <input class="w-full rounded  py-1 {{!edit?'outline-none text-gray':'border border-black outline-blue-600  px-1'}}" [readOnly]="!edit" type="email" placeholder="Enter Your Name" formControlName="email">
                    
                        </div>
                        <div class="email">
                            <h1 class="text-lg font-semibold">Mobile</h1>
                            <input class="w-full rounded  py-1 {{!edit?'outline-none text-gray':'border border-black outline-blue-600  px-1'}}" [readOnly]="!edit" type="text" placeholder="Enter Your Name" formControlName="contact">
                        </div>
                       
                    </div>
                    <div class="button my-2 text-end">
                        <button  *ngIf="!edit" type="button" class="text-md font-semibold rounded text-white bg-admin-primary px-3 py-1" (click)="onEditClick()">Edit profile</button>

                      <button *ngIf="edit" type="submit" class="text-md font-semibold rounded text-white bg-primary px-3 py-1">Update</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
