<ul role="list" class="-my-6 divide-y divide-gray-200">
    <li *ngFor="let each of cartProducts" class="flex py-6">
        <div
            class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
            <img class="object-cover w-full h-full" src="{{each.details[0].cover | customImageUrl}}">
        </div>

        <div class="ml-4 flex flex-1 flex-col">
            <div>
                <div
                    class="flex justify-between text-base font-medium text-gray-900">
                    <h3>
                        <a routerLink="/course/{{each.course_id}}">{{each.details[0].title}}</a>
                    </h3>
                    <p class="ml-4">{{each.details[0].fee | currency : 'INR'}}</p>
                </div>
                <p class="mt-1 text-sm text-gray-500"></p>
            </div>
            <div class="flex flex-1 items-end justify-end text-sm">
                <div class="flex">
                    <button type="button" (click)="removeItem(each.course_id)"
                    class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                </div>
            </div>
        </div>
    </li>
</ul>