<app-navbar [user]="'admin'"></app-navbar>
<section class="course-class px-10 my-3 flex">
    <video-preview class="basis-2/3"
     [course]="courseDetails" 
     [video]="videoDetails">
    </video-preview>
    <div class="secions-list 1/3 w-[40%]">
        <course-sections-list 
            [user]="'admin'" 
            [bg]="'bg-admin-primary'" 
            [text]="'text-white'"
            [bg_section_list]="'bg-zinc-200'"
            [videoList]="courseVideoList"
            [courseDetails]="courseDetails"
            >
        </course-sections-list>
    </div>
</section>