<app-navbar [user]="'admin'"></app-navbar>
<section class="course-class px-10 my-3 flex">
    <video-preview class="basis-2/3"
     [course]="courseDetails" 
     [video]="videoDetails">
    </video-preview>
    <div class="secions-list 1/3 w-[40%]">
        <course-sections-list 
            [user]="'admin'" 
            [bg]="'bg-light-gray'" 
            [text]="'text-black'"
            [bg_section_list]="'bg-slate-100'" 
            [videoList]="courseVideoList">
        </course-sections-list>
    </div>
</section>