<main class="p-4">
    <div class="flex justify-between">
        <h1 class="inline-block">Select Image</h1>
        <button mat-button mat-dialog-close class="inline-block">x</button>
    </div>
    <div>
        <section class="file-upload">
            <br>
            <div class="">

                <input
                    class="block w-full text-md  border border-gray-300 rounded-lg cursor-pointer  focus:outline-none"
                    aria-describedby="file_input_help" id="file_input" type="file" (change)="inputUpload($event)"
                    accept="image/jpeg,image/png,image/gif"
                    >
            </div>

        </section>
        <section class="preview-crop">
               <div class="border border-light-gray my-2 crop-area">
                <image-cropper
                [imageChangedEvent]="inputEvent"
                [maintainAspectRatio]="true"
                [onlyScaleDown]="false"
                format="png"
                [alignImage]="'center'"
                (imageCropped)="imageCropped($event)" 
                (loadImageFailed)="loadImageFailed()">
                </image-cropper>
 
               </div>
            <button mat-button mat-dialog-close class="bg-black text-sm px-3 py-1 text-white rounded" [disabled]="button" (click)="selectImage()">select</button>
        </section>
    </div>
</main>

