.crop-area {
    display: flex;
    min-height: 250px;
    border: 1px dashed #B5B2E7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
