<section class="flex flex-col h-full">
    <div class="search-bar">
        <app-course-search-bar (searchedEvent)="courseSearch($event)" ></app-course-search-bar>
    </div>
    <div class="bottom border border-light-gray flex-grow my-2 rounded-lg p-2 h-[70vh]">
        <div  class="upcoming-courses h-[50%] overflow-y-scroll">
            <h1 class="text-md font-bold"> <book-mark-icon [styleClass]="'text-indigo-600'" ></book-mark-icon> Upcoming Courses</h1>
            <div *ngFor="let each of upcomingList" class="upcoming-item my-2 flex items-center">
                <div class="img-template w-[7rem] h-[5rem] rounded overflow-hidden">
                    <img class="w-full h-full object-cover" src="{{each.cover| customImageUrl}}" alt="">
                </div>
                <p class="mx-2 font-bold">{{each.title}}</p>
            </div>

        </div>
        <div class="offer h-[50%] pt-2">
            <div class="container text-black p-2 rounded-lg  max-w-md mx-auto h-full pt-5">
                <div class="text-md mb-4">Get <span class="text-yellow-400 font-bold">25% OFF</span> your next purchase!</div>
                <div class="bg-white text-gray-800 rounded-lg px-4 py-2 flex items-center justify-between border border-light-gray">
                    <span class="text-2xl font-semibold">TAILOFFER25</span>
                    <button class="bg-blue-800 px-3 py-1 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 text-white focus:ring-blue-500">Copy</button>
                </div>
                <div class="text-sm mt-4">
                    <p>Valid until <span class="font-semibold">December 31, 2023</span></p>
                    <p>Terms and conditions apply.</p>
                </div>
            </div>
        </div>
    </div>
</section>