<aside>
    <ul class="text-center children:my-2 text-gray">
        <li>
            <a routerLink="/profile/student" routerLinkActive="children:bg-white children:text-primary">
                <div class="w-[10rem] text-white rounded my-2 px-4 py-2 text-md font-bold">
                    <p>Profile</p>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/profile/courses" routerLinkActive="children:bg-white children:text-primary">
                <div class="w-[10rem] text-white rounded my-2 px-4 py-2 text-md font-bold">
                    <p>Courses</p>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/profile/connection" routerLinkActive="children:bg-white children:text-primary">
                <div class="w-[10rem] text-white rounded my-2 px-4 py-2 text-md font-bold">
                    <p>Connections</p>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/profile/notification" routerLinkActive="children:bg-white children:text-primary">
                <div class="w-[10rem] text-white rounded my-2 px-4 py-2 text-md font-bold">
                    <p>Notification</p>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/profile/account" routerLinkActive="children:bg-white children:text-primary">
                <div class="w-[10rem] text-white rounded my-2 px-4 py-2 text-md font-bold">
                    <p>Account</p>
                </div>
            </a>
        </li>
    </ul>
</aside>