<section class="subscribe-box h-[50vh] w-full flex items-center">
    <div class="box max-w-[27rem] mx-auto text-center p-5 rounded-3xl shadow-lg" style="border: 0.2px solid rgb(238, 238, 238);">
        <h1 class="font-extrabold text-3xl">Get in touch</h1>
        <p class="text-sm text-gray my-2 px-3">Connect with us to clear your doubts and keep in touch with us</p>
        <div class="px-3 my-2 relative">
            <input type="text" placeholder="Enter Your Email Here" 
             class="w-full px-3 py-2 border-[1px] border-primary rounded-md outline-none
             text-sm
             ">
            
             <button class="absolute right-5 top-[50%] translate-y-[-50%]
                             bg-primary py-1 px-2 text-white
                             rounded text-sm ">Subscribe</button>
        </div>
    </div>
</section>