<nav class="flex justify-between items-center px-5 h-[3rem] sticky top-0 bg-white z-10">
    <div class="nav-logo">
        <a routerLink="/">
            <h1 class="text-2xl logo  font-bold 
        {{user === 'admin'? 'text-admin-primary':''}}
        {{user === 'student' || user === 'profile' ? 'text-primary':''}}
        {{user === 'tutor'? 'text-tutor-primary':''}}

        ">horizon<span *ngIf="user === 'tutor'" class="text-tutor-secondary">tutor</span></h1>
        </a>
    </div>

    <div class="nav-center">
        <ul *ngIf="user !== 'admin' && user !== 'tutor' && !isLogged" class="flex children:px-3">
            <li><a class="text-sm" routerLink="/" routerLinkActive="text-xl font-semibold "
                    [routerLinkActiveOptions]="{exact : true}">Home</a></li>
            <li><a class="text-sm" routerLink="/courses" routerLinkActive="text-xl font-semibold">Courses</a></li>
            <li><a class="text-sm" routerLink="/about" routerLinkActive="text-xl font-semibold">About</a></li>
            <li><a class="text-sm" routerLink="/contact" routerLinkActive="text-xl font-semibold">Contact</a></li>
        </ul>
    </div>
    <div class="nav-end children:hover:cursor-pointer">
        <div *ngIf="user === 'student'">
            <a routerLink="/login" class="text-sm hover:text-[#34359b] hover:underline">Log in</a>
            <a class="text-xs ms-2 bg-primary text-white p-1 rounded " routerLink="/signup">Signup</a>
        </div>

        <div *ngIf="user === 'admin'" class="h-[2.5rem] w-[2.5rem] rounded-full 
                    bg-admin-primary flex justify-center items-center ">
            <a routerLink="/admin">
                <p class="text-xs text-white font-bold">Admin</p>
            </a>
        </div>
        <div *ngIf="user === 'profile'" class="flex items-center">
            <a class="me-2" href="/cart">Cart</a>
            <div  class="h-[2.5rem] w-[2.5rem] rounded-full 
                 flex justify-center items-center overflow-hidden bg-slate-200">
                <a routerLink="/profile"><student-profile-image></student-profile-image></a>
            </div>
        </div>

        <div *ngIf="user === 'tutor'" class="h-[2.5rem] w-[2.5rem] rounded-full 
                 flex justify-center items-center overflow-hidden bg-slate-200">
            <a routerLink="/profile"> <tutor-profile-image></tutor-profile-image> </a>
        </div>

    </div>

</nav>