<nav class="flex justify-between items-center px-5 h-[3rem]">
    <div class="nav-logo">
        <h1 class="text-2xl logo  font-bold 
        {{user === 'admin'? 'text-admin-primary':''}}
        {{user === 'student' || user === 'profile' ? 'text-primary':''}}
        {{user === 'tutor'? 'text-tutor-primary':''}}

        ">horizon</h1>
    </div>

    <div class="nav-center">
        <ul *ngIf="user === 'student'"  class="flex children:px-3">
            <li><a routerLink="/" routerLinkActive>Home</a></li>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-end children:hover:cursor-pointer">
        <div *ngIf="user === 'student'">
            <a routerLink="/login" class="text-sm hover:text-[#34359b] hover:underline">Log in</a>
            <a class="text-xs ms-2 bg-primary text-white p-1 rounded " routerLink="/signup">Signup</a>
        </div>

        <div *ngIf="user === 'admin'" 
                    class="h-[2.5rem] w-[2.5rem] rounded-full 
                    bg-admin-primary flex justify-center items-center ">
            <p class="text-xs text-white font-bold">Admin</p>
        </div>

        <div *ngIf="user === 'profile'" 
                    class="h-[2.5rem] w-[2.5rem] rounded-full 
                    bg-primary flex justify-center items-center ">
            <p class="text-xs text-white font-bold">Profile</p>
        </div>


    </div>
    <!-- 
    <div >
        
    </div> -->
</nav>