<app-navbar [user]="'profile'"></app-navbar>
<section class="flex py-5 min-h-[80vh]">
    <div class="cart-items basis-3/5 px-[5rem] mb-5">
        <h1 class="text-3xl font-bold my-3">Cart</h1>
        <p *ngIf="!cartDetails" class="no-items text-light-gray">please add something to cart</p>
        <cart-product-template [cartProducts]="cartDetails" (removeEvent)="removeItemClicked($event)"></cart-product-template>
    </div>
    <div class="cart-summary basis-2/5 px-10 h-[80vh] flex items-center sticky top-[10%]">
        <checkout-box class="w-full"
        [subTotal]="subTotal"
        [checkOutDisable]="checkOutDisable"
        [btnTitle]="'Checkout'"
        [cartCheckout]="'/checkout'"
        ></checkout-box>
    </div>
</section>