<form (ngSubmit)="onSubmitClick(signup)" #signup="ngForm">

    <!-- logo icon changes dynamically based on the the screen size -->
     <div class="">
        <h2 class="hidden md:block text-[1.5rem] font-bold mb-8">Welcome Back</h2>
        <h1 class="logo md:hidden text-primary text-3xl mb-8"><a routerLink="/">horizon</a></h1>
    </div>

    <input ngModel name="name"
        class="border  border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
        type="text" placeholder="Name" #name="ngModel" required pattern="^[a-zA-Z]+$">

    <span *ngIf="!name.valid && name.touched" class="text-sm text-red-600">Enter a valid name</span>

    <input ngModel name="email"
        class="border  border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
        type="email" placeholder="Email" #email="ngModel" required email>

    <span *ngIf="!email.valid && email.touched" class="text-sm text-red-600">Enter a valid
        email</span>
    <!-- <span class="text-sm">Enter  your email here</span> -->

    <input ngModel name="password"
        class="border  border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
        type="password" placeholder="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,16}$"
        #password="ngModel">

    <span *ngIf="!password.valid && password.touched" class="text-sm text-red-600">Password must be 8 to 16 characters and include at least one letter and one digit</span>


    <input ngModel name="confirmPassword"
        class="border  border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
        type="password" placeholder="Confirm password" required pattern="{{password.value}}"
        #confirm="ngModel">

    <span *ngIf="!confirm.valid && confirm.touched" class="text-sm text-red-600">Password does not
        match</span>

    <auth-form-btn [isDisable]="!signup.valid" [value]="'SignUp'" [bg]="bg" [text]="'text-white'"></auth-form-btn>

</form>
