<main class="px-[10rem] py-[5rem] w-full h-[100vh]">
    <section class="signup-page flex w-full h-full shadow-2xl shadow-box rounded-lg overflow-hidden">

        <div class="signup-page-left basis-3/5 bg-primary grid justify-items-center content-center">
            <h1 class="logo text-white text-3xl"><a routerLink="/">horizon</a></h1>
        </div>

        <div class="signup-page-right basis-2/5 flex flex-col px-5 py-5">
            <div class="signup-form-top flex-1 flex items-center">
                <div class="form px-5 ">
                    <h2 class="text-[1.5rem] font-bold mb-8">Sign Up Now</h2>
                    <form-input [placeholder]="'Name'" [type]="'text'"></form-input>
                    <form-input [placeholder]="'Email'" [type]="'text'"></form-input>
                    <form-input [placeholder]="'Password'" [type]="'text'"></form-input>
                    <form-input [placeholder]="'Confirm Password'" [type]="'text'"></form-input>

                    <form-button [type]="'submit'" [value]="'Signup'"
                        [class]="'bg-primary font-bold text-white'"></form-button>

                </div>
            </div>
            <div class="signup-form-bottom text-center">
                <p class="text-sm">Already have an account ? <a class="text-primary" routerLink="/login">Login Now</a></p>
            </div>
        </div>
       
    </section>
</main>