<div class="grid grid-cols-3 gap-x-2">
    <div *ngFor="let each of courseList"
        class="relative group my-2 flex border border-white hover:border-light-gray rounded">

        <!-- delete button to remove course -->
        <app-delete-btn class="absolute right-1 invisible group-hover:visible"
            [font_size]="'text-sm text-primary'"></app-delete-btn>


        <div class="img-template w-[7rem] h-[5rem] rounded overflow-hidden">
            <img class="w-full h-full object-cover" src="{{each.cover| customImageUrl}}" alt="">
        </div>
        <div class="ms-1 my-1 flex flex-col justify-between">
            <p class="font-bold">{{each.title}}</p>
            <p>tutor</p>
        </div>
    </div>
</div>