<div class="section-lists w-full p-3">
    <ng-container *ngIf="videoList else noVideoList">
        <div *ngFor="let each of videoList; let i = index ;" class="section">
            <div class="section-title flex justify-between px-2 py-3 border-b border-b-white relative {{bg}} {{text}}"
                (click)="sectionSelected(i)">
                <h1 class="text-md">{{each.title}}</h1>
                <p class="text-md">{{each.courseVideos.length |customPluraliser  }} - {{totalSectionDuration(each.courseVideos) | customDuration}}</p>
            </div>
            <ul *ngIf="selectedSection === i" class="{{bg_section_list}}">
                <ng-container *ngIf="each.courseVideos.length else noVideos">
                    <li *ngFor="let video of each.courseVideos ; let k = index"
                        class="p-2 flex justify-between border-b border-b-black">
                        <p>{{k+1}} <span routerLink="{{setUserRoute()}}/{{courseDetails._id}}/{{video._id}}" (click)="videoClick(video._id)"
                                class="hover:text-blue-700 hover:underline cursor-pointer">{{video.title}}</span>
                        </p>
                        <p>{{video.duration | customDuration}} </p>
                    </li>
                </ng-container>
                <ng-template #noVideos>
                    <li class="p-2 flex justify-between border-b border-b-black">
                        <p><span class="hover:text-blue-700 hover:underline cursor-pointer">No videos are
                                available</span></p>

                    </li>
                </ng-template>
            </ul>
        </div>
    </ng-container>
    <ng-template #noVideoList>
        <h1 *ngIf="user !== 'student' else studentCoursePage" class="text-lg text-gray">Add classes in the course</h1>
        <ng-template #studentCoursePage>
            <h1 class="text-lg text-gray">No classes yet provided in the course</h1>
        </ng-template>
    </ng-template>

</div>