<section class="contact-banner my-10 flex px-20 h-[100vh] items-center">
    <div class="banner flex-1">
        <img class="h-auto w-[30vw] block mx-auto" src="assets/student/fixed-images/undraw_website_setup_re_d4y9.svg"
            alt="">
    </div>
    <div class="content flex-1 ">
        <h1 class="text-4xl font-extrabold mb-10">Broaden Your <br> Horizons</h1>
        <div class="w-[50%]">
            <p>Embark on a journey of knowledge and discovery with our dynamic e-learning platform.</p>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>