<section  class="courses my-10 px-32 h-[100vh] bg-gray-bg flex" >
    <div class=" relative w-[60rem] h-[23rem] block my-auto flex-grow">
        <swiper #swiper
        [slidesPerView]="3"
        [spaceBetween]="10"
        [pagination]="{ clickable: true }"
        [scrollbar]="{ draggable: true }"
        [virtual]="true"
        >
        <ng-template swiperSlide *ngFor="let each of courses" >
            <div 
                class="flex-none mx-5 my-10 course-card w-[18rem] h-[22rem] border border-light-gray rounded-xl overflow-hidden bg-white">

                <a routerLink="/course/{{each._id}}">

                    <div class="card-img w-full h-[12rem]">
                        <img class="object-contain h-full w-full" src="{{each.cover | customImageUrl}}" alt="">
                    </div>
                    <div class="card-bottom h-[10rem] flex flex-col justify-between px-2">
                        <div class="course-details-top text-gray p-2
                        children:text-sm children:inline">
                            <p class="">Angular</p>
                            <p class="float-right">4:00 hrs</p>

                        </div>
                        <div class="course-title p-1">
                            <h1 class="font-bold text-3xl truncate">{{each.title | titlecase}}</h1>
                        </div>

                        <div class="course-detail-bottom p-1 mb-2">
                            <p class="text-sm text-gray inline my-auto">44Videos</p>
                            <a class="text-sm ms-2 bg-primary font-bold float-right text-white p-1 px-2 rounded">add to cart</a>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </swiper>
    <next-prev-btn class="absolute top-[50%] left-[-5%] rotate-180" (click)="slidePrev()"></next-prev-btn>
    <next-prev-btn class="absolute top-[50%] right-[-5%]" (click)="slideNext()"></next-prev-btn>
    </div>
</section>



<!-- (swiper)="onSwiper($event)"
(slideChange)="onSlideChange()" -->