<main class="snap-y snap-mandatory">
    <section class="snap-start home-top-banner my-10 flex px-32 h-[100vh] items-center">
        <div class="content basis-2/3">
            <h1 class="text-4xl font-extrabold mb-10">Broaden Your <br> Horizons</h1>
            <div class="w-[50%]">
                <p class="text-gray">Embark on a journey of knowledge and discovery with our dynamic e-learning
                    platform.
                </p>
            </div>
            <div class="my-3">
                <span class="font-bold text-sm me-2"><img class="w-auto h-5 inline"
                        src="assets/student/fixed-images/complete-ok-accept-good-tick-svgrepo-com.svg" alt="">
                    Experienced
                    Mentors</span>
                <span class="font-bold text-sm me-2"><img class="w-auto h-5 inline"
                        src="assets/student/fixed-images/complete-ok-accept-good-tick-svgrepo-com.svg" alt=""> Quality
                    Videos</span>
                <span class="font-bold text-sm me-2"><img class="w-auto h-5 inline"
                        src="assets/student/fixed-images/complete-ok-accept-good-tick-svgrepo-com.svg" alt="">
                    Affordable
                    Classes</span>
            </div>
        </div>
        <div class="banner basis-1/3">
            <img src="assets/student/fixed-images/undraw_teaching_re_g7e3.svg" alt="broden horizon">
        </div>
    </section>

    <app-home-courses class="snap-start"></app-home-courses>
    <app-testimonial class="snap-start" ></app-testimonial>
    <app-subscribe class="snap-start" ></app-subscribe>
</main>