<section *ngIf="courseDetails" class="course-bar h-[15rem] py-5 px-10 flex {{bg}}">
    <div class="course-details py-5 flex items-center basis-3/5">
        <div class="{{text}}">
            <h1 class="text-4xl font-bold">{{courseDetails.title}} : The Perfect Guide</h1>
            <div class="w-[50%] my-2">
                <p class=" text-xl">{{courseDetails.description}}</p>
            </div>
            <div class="rating">
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-white me-1" name=" bootstrapStarFill"></ng-icon>
                <span class=" mx-1 text-sm">1,400 students</span>
            </div>
            <div class="creator">
                <p>{{checkCategory(courseDetails.category) | titlecase}}</p>
                <p class="">Created by : {{courseDetails.tutor.name | titlecase}}</p>
            </div>
            <div class="approval my-2"
                *ngIf="courseDetails.isTutorMade && !courseDetails.isApproved && user !== 'student'">
                <button class="bg-white text-admin-primary rounded py-1 px-2 me-3 font-semibold"
                    (click)="approve()">Approve</button>
                <button class="bg-primary text-white rounded py-1 px-2 font-semibold"
                    (click)="disApprove()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="course-images basis-2/5 ps-[10rem] {{text}}">
        <div class="h-[70%] relative group">
            <img class="w-full h-full object-fill" src="{{courseDetails.cover | customImageUrl}}" alt="">
            <div *ngIf="user !== 'student'"
                class="absolute bottom-0 left-0 w-full bg-gray text-end px-2 py-1 invisible group-hover:visible">
                <ng-icon class="hover:cursor-pointer" (click)="updateCoverEvent()"
                    name="bootstrapPencilSquare"></ng-icon>
            </div>
            <div *ngIf="courseDetails.isTutorMade && !courseDetails.isApproved"
                class="absolute bg-primary text-center text-white w-full py-1 top-[50%] traslate-y-[-50%]">
                {{courseDetails.request}}</div>
        </div>
        <p class="my-2">Rs.{{courseDetails.fee}}/-</p>

        <div class="buttons" *ngIf="user === 'student' else editDelete;">
            <button class="px-2 bg-white text-admin-primary text-sm font-semibold"
                (click)="subscribe()">Subscribe</button>
            <button class="px-2 bg-white text-primary text-sm font-semibold float-right" (click)="buyNow()">Get
                Course</button>
        </div>

        <ng-template #editDelete>
            <div class="buttons">
                <button class="px-2 bg-white text-admin-primary text-sm font-semibold"
                    (click)="editCourseEvent()">Edit</button>
                <button class="px-2 bg-white text-primary text-sm font-semibold float-right">Delete</button>
            </div>
        </ng-template>

    </div>
</section>

<section class="flex justify-center">
    <div class="w-[70%] my-5">
        <div class="flex justify-between">
            <h1 class="text-xl font-semibold my-2">Course Content</h1>
            <div class="py-2">
                <button *ngIf="user !== 'student'"
                    class="{{bg}} px-2 text-white rounded text-sm py-1 inline-block my-auto ms-2"
                    (click)="addVideo()">Add Video +</button>
            </div>
        </div>
        <div class="section-lists">
            <ng-container *ngIf="videoList else noVideoList">
                <div *ngFor="let each of videoList; let i = index ;" class="section">
                    <div class="group section-title flex justify-between px-2 py-3 border-b border-b-white relative {{bg}} {{text}}"
                        (click)="selectedSection = i">
                        <h1 class="text-md">{{each.title}}</h1>
                        <p class="text-md">{{each.courseVideos.length}} classes -
                            {{totalSectionDuration(each.courseVideos) | customDuration}}</p>

                        <div  *ngIf="user !== 'student'"
                            class="absolute right-[-3rem] invisible text-admin-primary group-hover:visible children:cursor-pointer">
                            <ng-icon class="mx-2" name="bootstrapPencilSquare"></ng-icon> <ng-icon
                                name="bootstrapTrash3Fill"></ng-icon>
                        </div>
                    </div>
                    <ul *ngIf="selectedSection === i" class="{{bg_section_list}}">
                        <ng-container *ngIf="each.courseVideos.length else noVideos">
                            <li *ngFor="let video of each.courseVideos ; let k = index"
                                class="p-2 flex justify-between border-b border-b-black">
                                <a routerLink="/course/{{courseDetails._id}}/{{video._id}}">
                                    <p>{{k+1}}. <span
                                            class="hover:text-blue-700 hover:underline cursor-pointer">{{video.title}}</span>
                                    </p>
                                </a>
                                <p>{{video.duration | customDuration}} </p>
                            </li>
                        </ng-container>
                        <ng-template #noVideos>
                            <li class="p-2 flex justify-between border-b border-b-black">
                                <p><span class="hover:text-blue-700 hover:underline cursor-pointer">No videos are
                                        available</span></p>

                            </li>
                        </ng-template>
                    </ul>
                </div>
            </ng-container>
            <ng-template #noVideoList>
                <h1 *ngIf="user !== 'student' else studentCoursePage" class="text-lg text-gray">Add classes in the
                    course</h1>
                <ng-template #studentCoursePage>
                    <h1 class="text-lg text-gray">No classes yet provided in the course</h1>
                </ng-template>
            </ng-template>

        </div>
    </div>
</section>