<section *ngIf="courseDetails" class="course-bar h-[15rem] py-5 px-10 flex {{bg}}">
    <div class="course-details py-5 flex items-center basis-3/5">
        <div class="{{text}}">
            <h1 class="text-4xl font-bold">{{courseDetails.title}} : The Perfect Guide</h1>
            <div class="w-[50%] my-2">
                <p class=" text-xl">{{courseDetails.description}}</p>
            </div>
            <div class="rating">
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-orange-400 me-1" name=" bootstrapStarFill"></ng-icon>
                <ng-icon class="text-white me-1" name=" bootstrapStarFill"></ng-icon>
                <span class=" mx-1 text-sm">1,400 students</span>
            </div>
            <div class="creator">
                <p>{{checkCategory(courseDetails.category) | titlecase}}</p>
                <p class="">Created by : {{courseDetails.tutor.name | titlecase}}</p>
            </div>
            <div class="approval my-2"
                *ngIf="courseDetails.isTutorMade && !courseDetails.isApproved && user !== 'student'">
                <button class="bg-white text-admin-primary rounded py-1 px-2 me-3 font-semibold"
                    (click)="approve()">Approve</button>
                <button class="bg-primary text-white rounded py-1 px-2 font-semibold"
                    (click)="disApprove()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="course-images basis-2/5 ps-[10rem] {{text}}">
        <div class="h-[70%] relative group">
            <img class="w-full h-full object-fill" src="{{courseDetails.cover | customImageUrl}}" alt="">
            <div *ngIf="user !== 'student'"
                class="absolute bottom-0 left-0 w-full bg-gray text-end px-2 py-1 invisible group-hover:visible">
                <ng-icon class="hover:cursor-pointer" (click)="updateCoverEvent()"
                    name="bootstrapPencilSquare"></ng-icon>
            </div>
            <div *ngIf="courseDetails.isTutorMade && !courseDetails.isApproved"
                class="absolute bg-primary text-center text-white w-full py-1 top-[50%] traslate-y-[-50%]">
                {{courseDetails.request}}</div>
        </div>
        <p class="my-2">Rs.{{courseDetails.fee}}/-</p>

        <div class="buttons" *ngIf="user === 'student' else editDelete;">

            <addto-goto-cart-btn *ngIf="!isCartItem else cartBtn" [styleClass]="'text-sm'" (click)="addtoCart(courseDetails._id)" ></addto-goto-cart-btn>

            <ng-template #cartBtn>
                <addto-goto-cart-btn [rLink]="'/cart'" [calledFor]="'goto'" [styleClass]="'text-sm'" ></addto-goto-cart-btn>
            </ng-template>
            
            <common-btn-reusable (click)="buyNow()" [styleClass]="'bg-white text-primary text-sm float-right'">Get Course</common-btn-reusable>
        </div>

        <ng-template #editDelete>
            <div class="buttons">
                <button class="px-2 bg-white text-admin-primary text-sm font-semibold"
                    (click)="editCourseEvent()">Edit</button>
                <button class="px-2 bg-white text-primary text-sm font-semibold float-right">Delete</button>
            </div>
        </ng-template>

    </div>
</section>

<section class="flex justify-center">
    <div class="w-[70%] my-5">
        <div class="flex justify-between">
            <h1 class="text-xl font-semibold my-2">Course Content</h1>
            <div class="py-2">
                <button *ngIf="user !== 'student'"
                    class="{{bg}} px-2 text-white rounded text-sm py-1 inline-block my-auto ms-2"
                    (click)="addVideo()">Add Video +</button>
            </div>
        </div>
        <course-sections-list 
        [user]="user" 
        [bg]="bg" 
        [text]="text"
        [bg_section_list]="bg_section_list" 
        [videoList]="videoList"
        [courseDetails]="courseDetails">
    </course-sections-list>
    </div>
</section>