<section class="min-h-screen w-full flex mb-5 pt-10">
    <section class="course-filter w-[70vw] px-10">
        <div class="course-filter-buttons flex justify-between">
            <course-filter-btn [iconName]="'bootstrapFileEarmarkText'" [bg]="'bg-blue-700'" [title]="'New'"
                [border]="'border-blue-700'" [class]="selectedFilter === 'new'?'scale-[1.2]  shadow-md' : ''"
                (click)="filter('new')"></course-filter-btn>

            <course-filter-btn [iconName]="'bootstrapFileEarmarkText'" [bg]="'bg-red-600'" [title]="'Popular'"
                [border]="'border-red-600'" [class]="selectedFilter === 'popular'?'scale-[1.2] shadow-md' : ''"
                (click)="filter('popular')"></course-filter-btn>

            <course-filter-btn [iconName]="'bootstrapFileEarmarkText'" [bg]="'bg-green-600'" [title]="'Free'"
                [border]="'border-green-600'" [class]="selectedFilter === 'free'?'scale-[1.2]  shadow-md' : ''"
                (click)="filter('free')"></course-filter-btn>

            <course-filter-btn [iconName]="'bootstrapFileEarmarkText'" [bg]="'bg-amber-500'" [title]="'Paid'"
                [border]="'border-amber-500'" [class]="selectedFilter === 'paid'?'scale-[1.2] shadow-md' : ''"
                (click)="filter('paid')"></course-filter-btn>
        </div>
        <div class="course-list-view">

        </div>

    </section>
    <aside class="sticky top-[5rem] w-[30vw] h-[80vh] px-10">
        <app-course-sidebar></app-course-sidebar>
    </aside>
</section>