<footer class="min-h-[15rem] border bg-dark-footer rounded-tl-[5rem] px-10 flex items-center">
    <section  class=" flex my-auto w-full  text-white 
                        right-0 ps-10  
                        sm:flex-col sm:px-20 sm:py-10  
                        md:flex-row py-5
                        children:mx-2
                        ">


        <div class="logo-side md:basis-2/6 sm:basis-0 sm:my-2">
            <h1 class="logo text-3xl mb-3">horizon</h1>
            <p class="text-sm">Embark on a journey of knowledge and discovery with our dynamic e-learning platform.</p>
        </div>
        <div class="company md:basis-1/6 sm:basis-0 sm:my-2">
            <h4 class="font-bold mb-3">Company</h4>
            <ul class="children:text-sm">
                <li>About Us</li>
                <li>Community</li>
                <li>Services</li>
            </ul>
        </div>

        <div class="support basis-1/6 sm:my-2">
            <h4 class="font-bold mb-3">Support</h4>
            <ul class="children:text-sm">
                <li>Help Center</li>
                <li>Webian</li>
                <li>Feedback</li>
                <li>Tweet &#64; us</li>
            </ul>

        </div>
        <div class="contact basis-2/6 sm:my-2">
            <h4 class="font-bold mb-3">Contact Us</h4>
            <ul class="children:text-sm">
                <li>0471 - 1234567</li>
                <li>support&#64;mail.com</li>
            </ul>
        </div>
    </section>
    
      
</footer>