<aside>
    <ul class="text-center children:my-2 text-gray">
        <li>
            <a routerLink="/admin" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="text-white">
                <ng-icon class="text-[2rem] block" name="bootstrapGrid1x2Fill"></ng-icon>
                <p>dashboard</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin/students" routerLinkActive="text-white">
                <ng-icon class=" text-[2rem] block" name="bootstrapPeopleFill"></ng-icon>
                <p>students</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin/tutors" routerLinkActive="text-white">
                <ng-icon class=" text-[2rem] block" name="bootstrapPersonCircle"></ng-icon>
                <p>tutors</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin/courses" routerLinkActive="text-white">
                <ng-icon class="text-[2rem] block" name="bootstrapFileEarmarkMedicalFill"></ng-icon>
                <p>courses</p>
            </a>
        </li>
        <li>
            <a routerLink="/admin/settings" routerLinkActive="text-white">
                <ng-icon class="text-[2rem] block" name="bootstrapGearFill"></ng-icon>
                <p>settings</p>
            </a>
        </li>
    </ul>
</aside>