<section class="w-100 p-3 h-full">
    <div class="text-center flex mb-8 justify-between items-center px-3">
        <h2 class="text-[1.5rem] font-bold">Add Video</h2>
        <button #closeBtn mat-button mat-dialog-close>x</button>
    </div>
    <form #addVideo="ngForm" (ngSubmit)="onFormSubmit(addVideo)">
        <div class="flex">
            <div class="">

                <div class="p-3">
                    <select ngModel name="section"
                        class="border inline-block border-light-gray text-black placeholder-light-gray w-[75%] text-sm p-2 my-2 rounded"
                        #section="ngModel" required>
                        <option value="" disabled selected>Select a section</option>
                        <option *ngFor="let each of sectionList" value="{{ each._id}}">{{each.title}}</option>

                    </select>
                    <button (click)="onAddSection()" class="text-sm bg-black text-white px-1 py-2 ms-2 rounded">Add
                        Section +</button>

                    <input ngModel name="title"
                        class="border  border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
                        type="text" placeholder="Title" #title="ngModel" required pattern=".*[a-zA-Z].*">

                    <span *ngIf="!title.valid && title.touched" class="text-sm text-red-600">Enter a title for the
                        course</span>


                    <textarea ngModel name="description"
                        class="border border-light-gray text-black placeholder-light-gray text-sm px-2 py-2 w-full my-2 rounded"
                        placeholder="Course description" #description="ngModel" required maxlength="255"></textarea>

                    <span *ngIf="!description.valid && description.touched" class="text-sm text-red-600">Enter a
                        description
                        for
                        your course</span>


                    <div class="flex items-center justify-end">
                        <p class="me-3 text-sm font-medium text-gray-900 dark:text-gray-300">Is this is a paid class</p>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" ngModel name="isPaid" class="sr-only peer">
                            <div
                                class="border border-light-gray w-9 h-5 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                            </div>
                        </label>
                    </div>


                </div>

                <div class="p-3">
                    <label
                        class="flex w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">

                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                            </svg>
                            <span class="font-medium text-gray-600">
                                Drop files to Attach, or
                                <span class="text-blue-600 underline">browse</span>
                            </span>
                        </span>


                        <input class="my-auto" type="file" name="file_upload" (change)="onAddedEvent($event)"
                            accept="Video/*" multiple="false">

                    </label>
                    <span *ngIf="isVideo === false" class="text-red-600">input file accepts only video</span>
                </div>
            </div>
            <div class="preview-video w-full flex justify-center">
                <div>
                    <video class="aspect-video" width="400" [src]="url" controls></video>
                    <p class="text-lg font-bold">{{title.value | titlecase}}</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="!addVideo.valid || !isVideo"
                class="bg-blue-700 font-bold text-white w-[6rem] border border-light-gray py-1 rounded my-2">Save</button>
        </div>
    </form>
</section>

<!-- mat-button mat-dialog-close -->