<section class="grid grid-cols-3 p-4" >
    <div *ngFor="let each of connList " class="bg-white shadow-xl w-[13rem] rounded-lg py-3 mx-5">
        <div class="photo-wrapper p-2">
            <img class="w-20 h-20 rounded-full mx-auto" src="{{each.profile | customProfileUrl}}" >
        </div>
        <div class="p-2">
            <h3 class="text-center text-xl text-gray-900 font-medium leading-8">{{each.name}}</h3>
            <div class="text-center text-gray-400 text-xs font-semibold">
                <p>trainer</p>
            </div>

           <div class="text-center py-2">
            <common-btn-reusable (click)="message(each._id)" [styleClass]="'bg-primary text-white text-xs'" >Message</common-btn-reusable>
           </div>
            

        </div>
    </div>
    <div *ngIf="!connList || !connList[0]" class="no-connections">
        <h1 class="text-light-gray text-xl">No Connections Yet</h1>
    </div>
</section>